*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

.idea/
.envrc
cdk.context.json

.venv
venv
requirements.txt
dist
artifacts

__pycache__
.coverage

.envrc
.env

glide-logs/

